@import "../../assets/variables/variables.scss";

.hero {
  margin-top: 80px;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gap;
    padding: $gap 0;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: calc(#{$gap} * 2);
    }
  }

  &__left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(#{$gap} * 2);

    @media (max-width: $mobile) {
      order: 1;
      align-items: center;
      text-align: center;
      padding: 0 50px;
      align-self: stretch;
    }
  }

  &__right {
    flex-basis: 50%;
    position: relative;

    &::after {
      content: "";
      background-color: var(--color-light-blue);
      border-bottom-left-radius: 100px;
      position: absolute;
      top: 20%;
      right: 0;
      bottom: -10%;
      left: 20%;
      z-index: -1;
    }

    @media (max-width: $mobile) {
      margin-bottom: calc(#{$gap} * 2);
      align-self: stretch;
      padding-left: 20px;
    }
  }

  &__title{
    font-size: 42px;

    @media (max-width: $desktop) {
      font-size: 36px;
    }

    @media (max-width: $mobile) {
      font-size: 32px;
    }
  }

  &__buttons {
    display: flex;
    gap: $gap;

    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__container{
    width: 100%;
    max-width: calc(1440px + 130px);
    margin: 0 auto;
    padding: 0 0 0 130px;
    display: flex;

    @media (max-width: $desktop) {
      padding: 0 0 0 50px;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }
  }
}