@import "src/variables/variables.scss";

.extensions {
  text-align: center;
  margin-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(#{$flex-gap} * 2);
  }

}