@import "../../assets/variables/variables.scss";

.modal {
  position: relative;

  &.close {
    .modal__inner {
      top: -1000px;
    }

    .modal__overlay {
      right: auto;
      bottom: auto;
      background-color: transparent;
    }
  }

  &__inner {
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 6px solid var(--color-light-blue);
    border-top: none;
    z-index: 20;
    transition: all .5s linear;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-blue);
    color: white;
    padding: $gap;
  }

  &__title {
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__close {
    cursor: pointer;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark-blue);
    opacity: 0.9;
    z-index: 19;
    transition: all .5s linear;
    cursor: pointer;
  }

  .tabpanel__inner {
    padding: calc(#{$gap} * 2) 0;
    position: relative;
    max-width: 800px;
    align-items: center;

    @media (max-width: $mobile) {
      max-height: 70vh;
      padding: $gap 0;
      gap: 0;
    }
  }

  .tabpanel__left {
    padding: 0 0 0 $gap;

    @media (max-width: $mobile) {
      width: 50%;
    }
  }

  .tabpanel__right {
    padding: 0 $gap 0 0;

    @media (max-width: $mobile) {
      padding: 0 10px;
      font-size: 16px;
      gap: 0;

      & p {
        font-size: 14px;
      }
    }
  }


}