// Colors
:root{
  --color-light-blue: hsl(231, 69%, 60%);
  --color-light-red: hsl(0, 94%, 66%);
  --color-light-gray: #f0f0f0;
  --color-gray: hsl(229, 8%, 60%);
  --color-dark-blue: hsl(229, 31%, 21%);
}

// Fonts
$font-rubik: 'Rubik', sans-serif;

// Font-sizes
$font-size-normal: 18px;
$font-size-small: 14px;
$font-size-mini: 12px;

// Gap
$gap: 24px;

// Endpoints
$mobile: 768px;
$phablet: 992px;
$desktop: 1200px;




