@import "src/variables/variables.scss";

.header {
  padding: 14px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $flex-gap;
  }

  &__logo {
    cursor: pointer;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: calc(#{$flex-gap} * 2);
    font-size: $font-size-small;
  }

  &__nav-item {
    transition: all 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: var(--color-light-red);
    }
  }
}