@import "src/variables/variables.scss";

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0 15px 10px;
  transition: all .3s linear;
  padding: $flex-gap 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.7) 0 10px 30px;
  }

  &:nth-child(2) {
    top: 30px;
  }

  &:nth-child(3) {
    top: 60px;
  }

  &__title{
    margin-bottom: 8px;
  }

  &__version {
    font-size: $font-size-small;
  }
}
