@import "../../assets/variables/variables.scss";

.footer {
  color: white;

  &__top {
    background-color: var(--color-light-blue);
    padding: calc(#{$gap} * 3);

    @media (max-width: $mobile) {
      padding: calc(#{$gap} * 2) 0;
    }
  }

  &__bottom {
    background-color: var(--color-dark-blue);
    padding: $gap 0;

    &-inner {
      display: flex;
      justify-content: space-between;

      @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__info {
    max-width: 50%;
    margin-bottom: 0;
    gap: 32px;

    @media (max-width: $phablet) {
      max-width: 75%;
    }

    @media (max-width: $mobile) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__title {
    text-transform: none;
  }

  &__counter {
    font-size: $font-size-small;
    text-transform: capitalize;
    text-align: right;
    width: 190px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $gap;

    & a svg path {
      transition: all .3s linear;

      &:hover {
        fill: var(--color-light-red);
      }
    }
  }

  &__logo {
    cursor: pointer;

    & svg path {
      fill: white;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: calc(#{$gap} * 2);
    font-size: $font-size-small;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: $gap;
      margin-bottom: $gap;
    }
  }

  &__item {
    transition: all 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: var(--color-light-red);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 32px;
      width: 100%;

      & .button {
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;

    @media (max-width: $mobile) {
      width: 100%;
    }

    .footer__error {
      opacity: 0;
      font-style: italic;
      line-height: 2;
      padding-left: 10px;
      font-size: $font-size-mini;
      text-align: left;
      position: absolute;
      bottom: -20px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      left: 0;
      right: 0;
      width: 100%;
      height: $gap;
      color: white;
      background-color: var(--color-light-red);
      transition: all .3s linear;
    }

    .footer__input {
      font-family: $font-rubik;
      border: 3px solid transparent;
      width: 300px;
      padding: 10px;
      border-radius: 6px;
      outline: none;
      transition: border .3s linear;

      &.invalid {
        border: 3px solid var(--color-light-red);
        background-image: url('../../assets/images/icon-error.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
      }

      &.invalid + .footer__error {
        opacity: 1;
      }

      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}